.pic {
    float: left;
    margin-top: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.about {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    color: #c5b643;
    margin-top: 10px;
}

#container {
    float: none;
    margin-top: 20px;
    color: #929292;
}


